@tailwind base;
@tailwind components;
@tailwind utilities;

.projectsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
}

textarea {
  resize: none;
}

.blurhash {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
  background-size: 850px 200px;
  /* height: 100px;
  width: 280px;
  border-radius: 15px; */
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}
